.card {
    position: relative;

    &:before {
        content: '';
        background-image: url('../../static/images/Vector2.svg');
        position: absolute;
        height: 869px;
        width: 396px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right;
        right: -62px;
        top: -140px;
        z-index: 1;
    }

    &::after {
        content: '';
        background-image: url('../../static/images/Vector5.svg');
        position: absolute;
        height: 765px;
        width: 510px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        left: 0;
        bottom: -215px;
        z-index: 1;
    }

    &-center {
        z-index: 2;
        text-align: right;
        padding: 54px 68px 86px;
        display: flex;
        justify-content: space-between;
        max-width: 1120px;
        height: auto;
        box-shadow: (6px 6px 40px rgba(14, 93, 137, 0.22));
        margin: 0 auto;
        position: relative;
        background-color: #ffffff;
        border-radius: 40px;

        h3 {
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 60px;
            color: $black;
            margin-bottom: 42px;
        }

        strong {
            display: block;
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 40px;
            color: $black;
            margin-bottom: 42px;
        }

        p {
            font-family: $rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 1.8;
            color: $grey;
        }
    }
}