.contact {
    position: relative;
    overflow: hidden;
    min-height: 1057px;

    @include break (tablet) {
        min-height: 606px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1920px;
        height: 1463px;
        left: 0;
        top: 85px;
        background-image: url('../../static/images/bg.svg');
        background-size: 100%;
        background-repeat: no-repeat;

        @include break (tablet) {
            left: -300px;
        }
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 750px;
        max-width: 1110px;
        width: 100%;
        z-index: 1;
        margin: 0 auto;
        position: relative;

        @include break (tablet) {
            min-height: 350px;
        }

        @include break (small) {
            flex-direction: column-reverse;
        }
    }

    &-btns {
        margin-top: 90px;

        @include break (small) {
            margin-top: 0px;
            margin-bottom: 30px;
        }

        &__title {
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            letter-spacing: 0px;
            line-height: 1.33;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 37px;

            @include break (tablet) {
                font-size: 30px;
                margin-bottom: 15px;
            }

            @include break (small) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }

        &__container {
            display: flex;
            min-width: 500px;

            @include break (small) {
                min-width: 0;
                width: 100%;
            }
        }

        &__control {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            padding: 22px 55px;
            min-width: 206px;
            background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
            background-blend-mode: soft-light, normal;
            border: 1px solid #4F4F4F;
            box-sizing: border-box;
            box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(0, 0, 0, 0.15);
            border-radius: 40px;
            font-family: $rubik;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.12;
            text-align: center;
            letter-spacing: 0.08em;
            color: $black;
            cursor: pointer;

            * {
                pointer-events: none;
            }

            @include break (tablet) {
                padding: 15px 25px;
                min-width: 160px;
                margin-left: 15px;
            }

            @include break (small) {
                padding: 10px 10px;
                min-width: 140px;
                font-size: 14px;
                margin-left: 0;
            }

            &:hover {
                background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FFEEF2;
            }

            svg {
                margin-bottom: 17px;

                @include break (tablet) {
                    margin-bottom: 5px;
                    height: 25px;
                }

                @include break (small) {
                    height: 20px;
                }
            }

            &:first-child {
                margin-left: 53px;
                @include break (small) {
                    margin-left: 5px;
                }
            }
        }
    }

    &-figure {
        @include break (small) {
            max-width: 300px;
            width: 100%;
        }
    }

    &-image {
        position: absolute;
        top: -10px;
        left: 544px;

        @include break (tablet) {
            width: 430px;
        }

        @include break (small) {
            position: static;
            max-width: 300px;
            width: 100%;
        }
    }
}

.footer {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    padding-top: 65px;
    padding-bottom: 50px;
    z-index: 1;
    background-image: url('../../static/images/bg2.svg');
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-end;

    @include break (small) {
        background-size: cover;
    }

    @include break (phone) {
        background: linear-gradient(90deg, #FE0555 0%, #FF8700 100%);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &-wrapper {
        max-width: 1590px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 175px;
    padding-right: 20px;
    position: relative;
    z-index: 2;

        @include break (small) {
            flex-wrap: wrap;
        }

        @include break (phone) {
            flex-direction: column;
            padding-left: 20px;
        }
    }

    &-logo {
        margin-top: 10px;

        @include break (tablet) {
            margin-top: 0;
        }
    }

    &-contacts {
        margin-top: 45px;

        @include break (tablet) {
            margin-top: 5px;
        }

        @include break (phone) {
            margin-top: 15px;
        }
    }

    &-links {
        margin-right: 22px;

        @include break (tablet) {
            margin-right: 10px;
        }

    }

    &-made {
        text-align: center;
        margin-top: 27px;

        @include break (tablet) {
            margin-top: 15px;
        }

        @include break (small) {
            text-align: left;
            margin-top: 5px;
        }

        @include break (phone) {
            margin-top: 15px;
        }
    }


    &-left {
        @include break (small) {
            width: 50%;
        }

        @include break (phone) {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
        }
    }

    &-center {
        margin-right: 90px;

        @include break (laptop) {
            margin-right: 0;
        }

        @include break (small) {
            width: 50%;
        }

        @include break (phone) {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &-right {
        display: flex;

        @include break (small) {
            width: 100%;
            justify-content: flex-end;
        }

        @include break (phone) {
            justify-content: space-around;
        }
    }

    &-title {
        font-family: $rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        text-align: right;
        color: #FFFFFF;

        @include break (tablet) {
            font-size: 30px;
            line-height: 1.2;
        }

    }

    &-subtitle {
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;

        @include break (tablet) {
            font-size: 20px;
            line-height: 1.2;
        }

    }

    &-block {
        margin-left: 65px;

        @include break (tablet) {
            margin-left: 25px;
        }

        &__title {
            display: block;
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            color: #FFFFFF;
            margin-bottom: 2px;

        }

        &__text {
            font-family: $rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-align: right;
            color: #FFFFFF;
        }
    }
}