.header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0;
    max-width: 1920px;
    width: 100%;
    padding: 30px 60px;
    z-index: 15;
    @include break (laptop) {
        padding: 10px 20px;
        svg {

    width: 145px;
    height: 40px;

        }
    }
}