.partners {
    padding-top: 45px;
    padding-bottom: 80px;
    position: relative;

    @include break (tablet) {
        padding-bottom: 80px;
    }

    @include break (phone) {
        padding-top: 0;
        padding-bottom: 40px;
    }

    &:before {
        content: '';
        background-image: url('../../static/images/partners/Vector7.svg');
        position: absolute;
        width: 184px;
        height: 513px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right;
        right: 0px;
        top: 60px;
        z-index: 1;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
        grid-gap: 30px;
        justify-content: center;
        padding-bottom: 80px;

        @include break (tablet) {
            grid-template-columns: 160px 160px 160px 160px;
        }

        @include break (small) {
            grid-template-columns: 160px 160px;
        }

        @include break (phone) {
            grid-template-columns: 135px 135px;
            grid-gap: 10px;
            padding-bottom: 40px;
        }
    }

    &-info {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &-subtitle {
        font-family: $rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 60px;
        text-align: right;
        color: $black;
        letter-spacing: -.3px;

        @include break (tablet) {
            font-size: 30px;
            line-height: 1;
            margin-bottom: 20px;
        }
        @include break (small) {
            font-size: 24px;
            margin-bottom: 20px;
        }

        @include break (phone) {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    &-desk {
        display: block;
        font-family: $rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 60px;
        text-align: right;
        color: $black;
        margin-bottom: 15px;

        @include break (tablet) {
            font-size: 24px;
            line-height: 1;
            margin-bottom: 10px;
        }
        @include break (small) {
            font-size: 20px;
        }
        @include break (phone) {
            font-size: 18px;
        }
    }

    &-text {
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 48px;
        text-align: right;
        color: $grey;

        @include break (tablet) {
            font-size: 20px;
            line-height: 1.4;
        }
        @include break (small) {
            font-size: 16px;
        }
        @include break (phone) {
            font-size: 14px;
        }
    }

    &-figure {
        width: 100%;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        z-index: 1;
        @include break (phone) {
            height: 135px;
            padding: 10px;
        }
    }

    &-img {
        width: auto;
        height: auto;
    }

    &-title {
        font-family: $rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 40px;

        @include break (tablet) {
            font-size: 40px;
            line-height: 1;
        }

        @include break (phone) {
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 25px;
        }
    }
}