@font-face {
	font-family: 'Rubik';
	src: url('../../static/fonts/converted-fonts/Rubik-Medium.eot');
	src: url('../../static/fonts/converted-fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Rubik-Medium.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Rubik-Medium.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Rubik-Medium.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Spartan';
	src: url('../../static/fonts/converted-fonts/Spartan-Medium.eot');
	src: url('../../static/fonts/converted-fonts/Spartan-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Spartan-Medium.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Spartan-Medium.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Spartan-Medium.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Spartan-Medium.svg#Spartan-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Spartan';
	src: url('../../static/fonts/converted-fonts/Spartan-Bold.eot');
	src: url('../../static/fonts/converted-fonts/Spartan-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Spartan-Bold.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Spartan-Bold.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Spartan-Bold.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Spartan-Bold.svg#Spartan-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Assistant';
	src: url('../../static/fonts/converted-fonts/Assistant-ExtraBold.eot');
	src: url('../../static/fonts/converted-fonts/Assistant-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Assistant-ExtraBold.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Assistant-ExtraBold.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Assistant-ExtraBold.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Assistant-ExtraBold.svg#Assistant-ExtraBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../../static/fonts/converted-fonts/Rubik-ExtraBold.eot');
	src: url('../../static/fonts/converted-fonts/Rubik-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Rubik-ExtraBold.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Rubik-ExtraBold.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Rubik-ExtraBold.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Rubik-ExtraBold.svg#Rubik-ExtraBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../../static/fonts/converted-fonts/Rubik-Light.eot');
	src: url('../../static/fonts/converted-fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Rubik-Light.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Rubik-Light.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Rubik-Light.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../../static/fonts/converted-fonts/Rubik-SemiBold.eot');
	src: url('../../static/fonts/converted-fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Rubik-SemiBold.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Rubik-SemiBold.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Rubik-SemiBold.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Rubik-SemiBold.svg#Rubik-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../../static/fonts/converted-fonts/Rubik-Regular.eot');
	src: url('../../static/fonts/converted-fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/converted-fonts/Rubik-Regular.woff2') format('woff2'),
		url('../../static/fonts/converted-fonts/Rubik-Regular.woff') format('woff'),
		url('../../static/fonts/converted-fonts/Rubik-Regular.ttf') format('truetype'),
		url('../../static/fonts/converted-fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}